@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9f9f9;
}

.box{
    width: 300px;
}

.box h2{
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box ul{
    position: relative;
    background: #fff;
    border-bottom:20px solid #03a9f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;
}

.box ul:hover li{
    opacity: 0.2;
    transition: transform 0.5s;
}

.box ul li:hover{
    transform: scale(1.1);
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0,0,0,.3);
    color: #fff;
    border-radius: 10px;
    opacity: 1.1;
}

.box ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
}

.box ul li:hover span{
    background: #fff;
    color: #25bcff;
    transform: translateY(-20px);
}